.div1-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 268px;
    height: 996px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.nav2 {
    width: 132px;
    height: 45px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    display: flex;
    align-items: center;
    background:dark;
    color: #42A7C3;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav2-1 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 4px;
    gap: 8px;
    color: #42A7C3;
    width: 100px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav2-1-a1 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;

    width: 100px;
    height: 50px;
    background: #ED760D;
    border-radius: 8px;
    color: #FFFFFF;
    
}

.tombol_tambah {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;

    width: 201px;
    height: 50px;
    background: #42A7C3;
    color: #FFFFFF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}